@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 12em;
}

h4{
    padding-left: 60px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
    color: #6670AD;
    text-shadow: 0.5pt 0.7pt grey;
    margin-bottom: 1em;
}

.detail{
    margin-left: 1em;
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    font-size: 20px;
}

.list li{
    list-style: none;
}

.container-foto{
    border: 1.5px solid #6670AD;
    border-radius: 5px;
    height: 250px;
    width: 250px;
    box-shadow: .5px .5px grey;
}

.container-detail{
    display: flex;
    padding-left: 60px;
}


.nama-brand{
    font-family: 'Cormorant SC', serif;
    font-style: normal;
    font-weight: bolder;
    color: rgba(81, 78, 79, 1);
    font-size: 90;
    line-height: 1.8em;
}

.nama-produk{
    font-family: 'Playfair Display', serif;
    font-size: 72;
    font-weight: bold;
    color: rgba(195, 82, 88, 1);
    text-shadow: .3px .5px grey;
    line-height: 1.5em;
}

.harga{
    font-family: 'Playfair Display', serif;
    font-size: 64;
    font-weight: bold;
    color: #000;
    text-shadow: .3px .5px grey;
    line-height: 1.5em;
}

.shade{
    font-family: 'Cormorant SC', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90;
    color: rgba(81, 78, 79, 1);
    line-height: 1.5em;
}

.kumpulan-shades{
    display: flex;
    margin-top: 10px;
}

.button-shades {
    height: 42px;
    width: 42px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
  }

.jumlah{
    font-family: 'Playfair Display', serif;
    font-size: 64;
    font-weight: bold;
    color: #000;
    text-shadow: .3px .5px grey;
}

.button-add-less{
    display: flex;
    margin-left: 50px;
    width: 36px;
    height: 36px;
}

.jumlah-belanjaan{
    display: flex;
    margin-top: 10px;
    
}

.add{
    min-width: 36px;
    height: 36px;
    font-size: 25px;
    border: 1px solid black;
    background-color: #fff;
    align-content: center;
}

.less{
    min-width: 36px;
    height: 36px;
    font-size: 25px;
    border: 1px solid black;
    background-color: #fff;
    align-content: center;
}

.input{
    width: 80px;
    height: 36px;
    border: 1px solid black;
    text-align: center;
}

.tambah{
    margin-top: 12px;
}

.button-tambah{
    border: 1px solid grey;
    background-color: #6670AD;
    height: 2em;
    width: 12em;
    border-radius: 5px;
    box-shadow: 1px 1px grey;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: .9em;
    color: #fff;
    text-shadow: .3px .5px grey;
}

h5 {
    padding-left: 60px;
    color: rgba(81, 78, 79, 1) ;
    font-family: 'Cormorant SC', serif;
    font-style: normal;
    font-weight: bolder;
}

.container-desc{
    margin-left: 60px;
    border: 1px solid #6670AD;
    width: 71.5em;
    height: 15em;
    box-shadow: .3px .5px grey;
    border-radius: 10px;
}

.isi-desc{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1em;
    color: rgba(81, 78, 79, 1);
    padding:20px;
}

.serupa{
    padding-left: 60px;
    color:  #6670AD;
    font-family: 'Cormorant SC', serif;
    font-style: normal;
    font-weight: bolder;
}

.pembatas{
    border: .2px solid rgba(154, 154, 154, 0.3);
    margin-left: 59px;
    width: 71.5em;
    align-content: center;
    box-shadow: .3px .5px grey;
}

.kumpulan-serupa{
    display: flex;
    margin-left: 70px;
    margin-top: 25px;
}

.serupa1{
    border: 1px solid #6670AD;
    min-width: 12em;
    min-height: 18em;
    box-shadow: .3px .5px grey;
    border-radius: 10px;
    margin-right: 40px;
    background-color: #fff;
}

.foto-produk-serupa{
    width: 10em;
    height: 10em;
    
}

.serupa2{
    border: 1px solid #6670AD;
    min-width: 12em;
    min-height: 18em;
    box-shadow: .3px .5px grey;
    border-radius: 10px;
    margin-right: 40px;
    background-color: #fff;
}

.serupa3{
    border: 1px solid #6670AD;
    min-width: 12em;
    min-height: 18em;
    box-shadow: .3px .5px grey;
    border-radius: 10px;
    margin-right: 40px;
    background-color: #fff;
}

.serupa4{
    border: 1px solid #6670AD;
    min-width: 12em;
    min-height: 18em;
    box-shadow: .3px .5px grey;
    border-radius: 10px;
    margin-right: 40px;
    background-color: #fff;
}

.serupa5{
    border: 1px solid #6670AD;
    min-width: 12em;
    min-height: 18em;
    box-shadow: .3px .5px grey;
    border-radius: 10px;
    margin-right: 40px;
    background-color: #fff;
}

.list-serupa{
    list-style: none;
    margin-right: 30px;
}

.serupa-nama-brand{
    font-family: 'Cormorant SC', serif;
    font-style: normal;
    font-weight: bolder;
    color: rgba(81, 78, 79, 1);
    font-size: 90;
}

.serupa-nama-produk{
    font-family: 'Playfair Display', serif;
    font-size: 72;
    font-weight: bold;
    color: rgba(195, 82, 88, 1);
    text-shadow: .3px .5px grey;
}

.serupa-harga{
    font-family: 'Playfair Display', serif;
    font-size: 64;
    font-weight: bold;
    color: #000;
    text-shadow: .3px .5px grey;
}

.konten{
    align-content: center;
}
.end-gagyok{
    height: 15em;
    width: 100em;
    background-color: rgba(191, 184, 218, 0.3);
}

.tentang{
    font-family: 'Cormorant SC', serif;
    margin: 2em;
    margin-top: 2em;
}

.atas{
    color: #6670AD;
    padding-top: 2em;
    text-shadow: 0.4px 0.4px grey;
    font-weight: bolder;
    font-size: 25px;
}

.tentang a{
    color: rgba(195, 82, 88, 1);
    text-shadow: 0.4px 0.4px grey;
    text-decoration: none;
    font-weight: bolder;
    font-size: 23px;
}